<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <% if(products.length > 0) { %>
            <ul>
                <% products.forEach((product, index) => { %>
                    <li><%= product.title + ' (' + product.cartItem.quantity + ')' %><br><br><form method="POST" action="/delete-cart-item"><input type="hidden" name="productId" value="<%= product.id %>"><button class="btn" type="submit">Delete</button></form></li>
                <% }) %>
            </ul>
            <form action="/orders" method="POST">
                <button class="btn">Order Now!</button>
            </form>
        <% } else { %>
            <h1>No cart found</h1>
        <% } %>

<%- include('../includes/end.ejs') %>